#fightContainer

 div(id="fight-view")
  button(id="fight" class="hvr-pulse") Instant Battle
  button(id="slowFight" class="hvr-pulse") Round Battle
  h1!= 'Round : ' + '<%=this.round%>'
  h1!= '<%=this.previousRoundMessage%>'
  h2!= "<img src=<%=this.activeLeft%>>" + ' VS ' + "<img src=<%=this.activeRight%>>"
  #team-battle-info 
    #user-team
      h1 User Team
      each val in [0,1,2]
        img(src!='<%=this.collection.models['+val+'].attributes.image.thumb_url%>')
        p!= '<%=this.collection.models[' + val + '].attributes.name%>'
        p!= 'Character Defeated : ' + '<%=this.collection.models['+ val + '].attributes.ko%>'
    #computer-team
      h1 Computer Team
      each val in [3,4,5]
        img(src!='<%=this.collection.models['+val+'].attributes.image.thumb_url%>')
        p!= '<%=this.collection.models[' + val + '].attributes.name%>'
        p!= 'Character Defeated : ' + '<%=this.collection.models['+ val + '].attributes.ko%>'
