#user-container.container
  .row
    #team1.col-md-4
      h1 Your Team
      p!= '<img src=<%=hero1%>><img src=<%=hero2%>><img src=<%=hero3%>>'
    #team2.col-md-4
      h1 Opposing Team
      p!= '<img src=<%=hero4%>><img src=<%=hero5%>><img src=<%=hero6%>>'
    #user-stats.col-md-4
      h1 Your Record
      p!= 'Wins : <%=win%>'
      p!= 'Losses : <%=loss%>'
      p!= 'Draws : <%=draw%>'
